.cityDisplay, .tempDisplay, .humidityDisplay, .descDisplay, .weatherEmoji {
    font-size: 2.5rem;
    font-weight: bold;
    font-family:  mono;
    color: black;
    margin-bottom: 20px;
}

#weatherDisplay{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

